body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(190, 189, 201);
    color: rgb(79, 79, 79);
}

.topnav {
    color: white;
    background-color: rgb(54, 52, 89);
    padding: 14px 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.top {
    margin-top: 70px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    width: 90%;
    background-color: rgb(207, 207, 238);
    box-shadow: 1px 1px 10px 1px rgba(166, 165, 165, 0.256);
    font-size: 17px;
}

#box {
    border: none;
    background-color: rgb(238, 238, 238);
    box-shadow: 1px 1px 10px 1px rgba(231, 231, 231, 0.289);
    border-radius: 10px;
    width: 90%;
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;


}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 75;
    left: 0;
    background-color: rgb(54, 53, 81);
    overflow-x: hidden;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}

.sidenav a,
.dropdown-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(226, 220, 220);
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover {
    color: #f1f1f1;
    font-size: 21px;

}

.dropdown-btn:hover {
    color: #f1f1f1;
    background-color: rgb(23, 22, 43);
    border-radius: 20px;
    font-size: 21px;
}

.main {
    margin-left: 200px;
    font-size: 20px;
}



.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

table{
    padding-bottom: 30px;;
}

td{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
}

table th {
    text-align: left;
    padding-bottom: 10px;
    color: rgb(65, 65, 102);
    background-color: rgb(197, 189, 213);
    padding-top: 10px;
    padding-left: 5px;;
    border-radius: 5px;
}

tr:hover {
    background-color: rgb(200, 200, 199);
    font-weight: bold;

}

